<footer class="footer">
  <div class="footer__wrapper">
    <img class="footer__logo" src="{{asset 'logo-footer.svg'}}" alt="Brands logo">
		<section class="footer__content">
			<span class="footer__links">
				<a class="footer__privacy-policy" href="https://www.brandspaycheck.com/privacy-policy">{{dc 'brands-tos'}}</a>&nbsp;|&nbsp;<a class="footer__tos" href="https://www.brandspaycheck.com/terms-and-conditions">{{dc 'brand-privacy_policy'}}</a>
			</span>
			<span class="footer__copyright" >{{dc 'brands-copyright'}}</span>
		</section>
  </div>
</footer>

{{!-- <footer class="footer">
  <div class="footer-inner">
    {{#link 'help_center'}}{{help_center.name}}{{/link}}

    <div class="footer__language-selector">
      {{#if alternative_locales}}
        <div class="dropdown language-selector">
          <button class="dropdown-toggle" aria-haspopup="true">
            {{current_locale.name}}
          </button>
          <span class="dropdown-menu dropdown-menu-end" role="menu">
            {{#each alternative_locales}}
              <a href="{{url}}" dir="{{direction}}" rel="nofollow" role="menuitem">
                {{name}}
              </a>
            {{/each}}
          </span>
        </div>
      {{/if}}
    </div>
  </div>
</footer> --}}
