<section class="section hero">
	<div class="hero-inner">
		{{search submit=true instant=settings.instant_search class='search search--brands search-full'}}
	</div>
</section>



<section class="section news">

	<div class="container">
		{{#each categories}}
				{{#each sections}}
					{{#each articles}}
						{{#each labels}}
							{{#is identifier 'homepage'}}
								<header class="news__header">
									<h2 class="news__header__title">{{dc 'brands_-_news'}}</h2>
									<a class="news__header__link" href="/hc/sections/360002618693-News-section-articles">{{dc 'brands-see_all_updates_link'}}</a>
								</header>
								<article class="news__article">
									<img class="news__article__image" src="{{ asset 'news-bg.png'}}" role="presentation" alt="Up to bottom view of an office table with a computer, coffee and a business man with papers.">
									<div class="news__article__content">
										<h4 class="news__article__title"><a href="{{../url}}">{{ ../title }}</a></h4>
										<div class="news__article__text">{{ ../body }}</div>
										<footer class="news__article__footer">
											<span class="news__article__date">{{t 'created'}} {{date ../created_at timeago=true}}</span>
											<span class="news__article__comments"><img class="news__article__comment-number" src="{{ asset 'comment.png' }}"
												alt="Comment icon"><span class="news__article__comment-text">{{../comment_count}}</span></span>
										</footer>
									</div>
								</article>
							{{/is}}
						{{/each}}
					{{/each}}
				{{/each}}
			{{/each}}
	</div>

</section>

<div class="container">

		<section class="section categories">
			<h2 class="categories__title">{{dc 'brands-main_categories'}}</h2>
			<ul class="categories__list">
			{{#each categories}}
				{{#isnt name 'News section'}}
					<li class="category">
						{{!-- Category images can be setup here --}}
						<img class="category__icon" src="
						{{#is @index 0}}{{asset 'category1.png'}}{{/is}}
						{{#is @index 1}}{{asset 'category2.png'}}{{/is}}
						{{#is @index 2}}{{asset 'category3.png'}}{{/is}}
						{{#is @index 3}}{{asset 'category_general.png'}}{{/is}}
						{{#is @index 4}}{{asset 'category_general.png'}}{{/is}}
						{{#is @index 5}}{{asset 'category_general.png'}}{{/is}}
						{{#is @index 6}}{{asset 'category_general.png'}}{{/is}}
						{{#is @index 7}}{{asset 'category_general.png'}}{{/is}}
						" alt="Category icon">
						<h4 class="category__title"><a href="{{url}}">{{ name }}</a></h4>
						<p class="category__description">{{excerpt description}}</p>
						<hr class="category__separator">
						<ul class="category__article-list">
							{{#each sections}}
								{{#each articles}}
									{{#each labels}}
										{{#is identifier 'highlight'}}
										<li class="category-article">
											<img class="category-article__icon" src="{{ asset 'arrow.svg'}}" alt="">
											<h5 class="category-article__title"><a href="{{../url}}">{{../title}}</a></h5>
										</li>
										{{/is}}
									{{/each}}
								{{/each}}
							{{/each}}
						</ul>
						<a class="category__link" href="{{url}}">{{t 'show_all_articles' }}	</a>
					</li>
				{{/isnt}}
			{{/each}}
			</ul>

			{{pagination}}
		</section>

	</div>

	{{#if promoted_articles}}
		<section class="section promoted-articles">
			<div class="container">
				<h3 class="promoted-articles__title">{{t 'promoted_articles'}}</h3>
				<div class="list-wrapper">
					<ul class="promoted-articles__list">
						{{#each promoted_articles}}
						<li class="promoted-articles__article">
							<h5 class="article__title">{{title}}</h5>
							<p class="article__body">{{excerpt body characters=200}}</p>
							<a class="article__link"href="{{url}}">{{dc 'brands-read_more'}}</a>
						</li>
						{{/each}}
					</ul>
				</div>
			</div>
		</section>
	{{/if}}


</div>






